.excluir-tabela-operacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

.excluir-tabela-operacao button {
  background-color: #0D6EFD;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.excluir-tabela-operacao button:hover {
  background-color: #0B5ED7;
}

.modal-confirmacao {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 400px;
}

.modal-confirmacao p {
  margin-bottom: 20px;
  color: #333;
}

.modal-confirmacao button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out;
}

.modal-confirmacao button:first-of-type {
  background-color: #0D6EFD;
  color: white;
}

.modal-confirmacao button:last-of-type {
  background-color: #ccc;
}

.modal-confirmacao button:hover {
  opacity: 0.9;
}
