.logout-container {
  display: flex;
  flex-direction: column; /* Organiza os filhos em coluna */
  justify-content: flex-start; /* Alinha os itens ao início do contêiner */
  align-items: center; /* Centraliza os itens horizontalmente */
  
  padding: 20px; /* Espaçamento interno */
}

.logout-button {
  margin-top: auto; /* Empurra o botão para a parte inferior do contêiner */
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff; /* Cor do botão, ajuste conforme necessário */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #007bff; /* Cor ao passar o mouse, ajuste conforme necessário */
}
